extends layout


block content
    div(style="text-align: center;")
        img(src=`${data.movie_imgurl}` height="600px" width="165px" )
        hr
        h1 #{data.movie_title}
        hr
        p #{data.movie_actors}
        hr
        p #{data.movie_genre}
        hr

    div
        -for (var idx = 0; idx < data.rating; idx++)
            img(src='/images/star.svg' class='rating-star-img' width="30" height="30")
    br
    hr
    div
        button
            a(href="http://localhost:3000/") Go Home





