extends layout

block content
    h1(id="adminmovie") Admin Movies
    ul(id="adminmovielist")
        each movie in movies
            div(id="movie"+movie._id)
                img(src=`${movie.url}`)
                br
                div
                h2 #{movie.title} / #{movie.year}
                br


                input(type="button" onclick="edit("+movie._id+","+"'"+movie.title+"'"+","+"'"+movie.year+"'"+","+"'"+movie.url+"'"+")" value="EditData")
                //form(method="GET" action="/routes/movie/read/" + movie._id)
                //    input(type="submit" onclick="edit(" + movie._id + ",'" + movie.title + "','" + movie.year + "','" + movie.url + "')" value="EditData")

                input(type="button" onclick="deletemovie("+movie._id+")" value="delete" )

                form(method="POST" action="/routes/movie/update/:id")
                    input(type="submit" value="인기영화")
                br

                script(src='/javascripts/main.js')