extends layout

block content
    h1(id="adminmovie") Admin Movies
    ul(id="adminmovielist")
        each movie in movies
            div(id="movie"+movie._id)
                p
                img(src=`${movie.url}`)
                br
                p
                h2(id="ups") #{movie.title} / #{movie.year}
                -if(movie.trending===true)
                        img(id="star" src='/images/star.svg' width="30" height="30")
                -if(movie.trending===false)
                        img(id="bstar" src='/images/bstar.svg' width="30" height="30")


                br
                p
                input(type="button" onclick="edit("+movie._id+","+"'"+movie.title+"'"+","+"'"+movie.year+"'"+","+"'"+movie.url+"'"+")" value="Edit")

                input(type="button" onclick="deletemovie("+movie._id+")" value="Delete" )


                input(type="button" onclick="trendo("+movie._id+")" value="trend O")
                input(type="button" onclick="trendx("+movie._id+")" value="trend X")

                br
                p
                p

                script(src='/javascripts/main.js')