extends layout

block content
    each movie in movies
        form(method="POST" action="/routes/movie/update/"+movie._id)


            div
                label Title
                input(type="text" name="title" id="edittitle")

                label Year
                input(type="text" name="year" id="edityear" )

                label Image Path
                input(type="text" name="url" id="editimage" )

                input(id="edit_id", type="hidden")
                input(type="submit" onclick="ajaxEdit()" value="Edit Movie")