extends layout

block content
    form(method="POST" action="/routes/movie/update/:id")
        label Title
        input(name="title")

        label Year
        input(name="year")

        label Image Path
        input(name="url")