extends layout

block content
  h1(id="htitle") Movies
  ul(id="movielist")
    each movie in movies
      div(id="content")
        img(src=`${movie.url}`)
        br

        h2 #{movie.title} / #{movie.year}
        -if (movie.trending === true)
              img(src='/images/star.svg' width="30" height="30")
        -if (movie.trending === false)
              img(src='/images/bstar.svg' width="30" height="30")

        br




