doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method="get" action="/")
      input(type="submit" value="Home")

    form(method="get" action="/newmovie")
      input(type="submit" value="New Movie")

    form(method="get" action="/admin")
      input(type="submit" value="Admin")
    block content
