doctype html
html
  head

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="fo")
      form(method="get" action="/")
        input(type="submit" value="Home")
      form(method="get" action="/newmovie")
        input(type="submit" value="New Movie")



    block content
