extends layout

block content
    h2 Add Movie
    form(method="POST",action="/routes/movie/create")
        br
        label Title
        br
        input(name="title")
        br
        label Year
        br
        input(name="year")
        br
        label Image Path
        br
        input(name="url")